In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/titanic.csv")

In [ ]:
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
df = df.drop(["Name","Ticket"],axis=1) #["Name","Ticket"]

In [ ]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Sex            False
Age             True
SibSp          False
Parch          False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
mean_age = round(df["Age"].mean())

In [ ]:
mean_age

30

In [ ]:
df["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
df["Age"].fillna(mean_age,inplace=True) #inplace=True

In [ ]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
df["Cabin"].fillna(-1,inplace=True)

In [ ]:
df["Cabin"].astype("category")

0        -1
1       C85
2        -1
3      C123
4        -1
       ...
886      -1
887     B42
888      -1
889    C148
890      -1
Name: Cabin, Length: 891, dtype: category
Categories (148, object): [-1, A10, A14, A16, ..., F38, F4, G6, T]

In [ ]:
df["Cabin"] = df["Cabin"].astype("category")

In [ ]:
#df["Cabin"].cat.categories

In [ ]:
df["Cabin"] = df["Cabin"].cat.codes

In [ ]:
df[df["Cabin"]!=0]["Cabin"].mode()

0     48
1     64
2    146
dtype: int16

In [ ]:
df["Cabin"].replace({0:48},inplace=True)

In [ ]:
df

     PassengerId  Survived  Pclass     Sex  ...  Parch     Fare  Cabin  Embarked
0              1         0       3    male  ...      0   7.2500     48         S
1              2         1       1  female  ...      0  71.2833     82         C
2              3         1       3  female  ...      0   7.9250     48         S
3              4         1       1  female  ...      0  53.1000     56         S
4              5         0       3    male  ...      0   8.0500     48         S
..           ...       ...     ...     ...  ...    ...      ...    ...       ...
886          887         0       2    male  ...      0  13.0000     48         S
887          888         1       1  female  ...      0  30.0000     31         S
888          889         0       3  female  ...      2  23.4500     48         S
889          890         1       1    male  ...      0  30.0000     61         C
890          891         0       3    male  ...      0   7.7500     48         Q

[891 rows x 10 columns]

In [ ]:
df["Embarked"].mode()[0]

'S'

In [ ]:
df["Embarked"].fillna(df["Embarked"].mode()[0],inplace=True)

In [ ]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [ ]:
df["Embarked"] = df["Embarked"].astype("category")

In [ ]:
df["Embarked"] = df["Embarked"].cat.codes

In [ ]:
df["Sex"].replace({"male":0,"female" : 1},inplace=True)

In [ ]:
df.drop(["PassengerId"],axis=1,inplace=True)

In [ ]:
x = df.drop("Survived",axis=1)

In [ ]:
df.corr()

          Survived    Pclass       Sex  ...      Fare     Cabin  Embarked
Survived  1.000000 -0.338481  0.543351  ...  0.257307  0.175690 -0.167675
Pclass   -0.338481  1.000000 -0.131900  ... -0.549500 -0.248495  0.162098
Sex       0.543351 -0.131900  1.000000  ...  0.182333  0.102643 -0.108262
Age      -0.070657 -0.329727 -0.084660  ...  0.090632  0.055193 -0.028159
SibSp    -0.035322  0.083081  0.114631  ...  0.159651 -0.005539  0.068230
Parch     0.081629  0.018443  0.245489  ...  0.216225  0.022682  0.039798
Fare      0.257307 -0.549500  0.182333  ...  1.000000  0.090516 -0.224719
Cabin     0.175690 -0.248495  0.102643  ...  0.090516  1.000000  0.023804
Embarked -0.167675  0.162098 -0.108262  ... -0.224719  0.023804  1.000000

[9 rows x 9 columns]

In [ ]:
y = df["Survived"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.25 ,random_state=2)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()

In [ ]:
lr.fit(X_train,Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#lr.predict(X_test)

In [ ]:
lr.score(X_test,Y_test)

0.8026905829596412

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=21)

In [ ]:
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=21, p=2,
                     weights='uniform')

In [ ]:
knn.score(X_test,Y_test)

0.7309417040358744

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
confusion_matrix(Y_test,y_pred)

array([[117,  14],
       [ 30,  62]])

In [ ]:
help(confusion_matrix)

Help on function confusion_matrix in module sklearn.metrics._classification:

confusion_matrix(y_true, y_pred, labels=None, sample_weight=None, normalize=None)
    Compute confusion matrix to evaluate the accuracy of a classification.

    By definition a confusion matrix :math:`C` is such that :math:`C_{i, j}`
    is equal to the number of observations known to be in group :math:`i` and
    predicted to be in group :math:`j`.

    Thus in binary classification, the count of true negatives is
    :math:`C_{0,0}`, false negatives is :math:`C_{1,0}`, true positives is
    :math:`C_{1,1}` and false positives is :math:`C_{0,1}`.

    Read more in the :ref:`User Guide <confusion_matrix>`.

    Parameters
    ----------
    y_true : array-like of shape (n_samples,)
        Ground truth (correct) target values.

    y_pred : array-like of shape (n_samples,)
        Estimated targets as returned by a classifier.

    labels : array-like of shape (n_classes), default=None
        List of labels to index the matrix. This may be used to reorder
        or select a subset of labels.
        If ``None`` is given, those that appear at least once
        in ``y_true`` or ``y_pred`` are used in sorted order.

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    normalize : {'true', 'pred', 'all'}, default=None
        Normalizes confusion matrix over the true (rows), predicted (columns)
        conditions or all the population. If None, confusion matrix will not be
        normalized.

    Returns
    -------
    C : ndarray of shape (n_classes, n_classes)
        Confusion matrix.

    References
    ----------
    .. [1] `Wikipedia entry for the Confusion matrix
           <https://en.wikipedia.org/wiki/Confusion_matrix>`_
           (Wikipedia and other references may use a different
           convention for axes)

    Examples
    --------
    >>> from sklearn.metrics import confusion_matrix
    >>> y_true = [2, 0, 2, 2, 0, 1]
    >>> y_pred = [0, 0, 2, 2, 0, 2]
    >>> confusion_matrix(y_true, y_pred)
    array([[2, 0, 0],
           [0, 0, 1],
           [1, 0, 2]])

    >>> y_true = ["cat", "ant", "cat", "cat", "ant", "bird"]
    >>> y_pred = ["ant", "ant", "cat", "cat", "ant", "cat"]
    >>> confusion_matrix(y_true, y_pred, labels=["ant", "bird", "cat"])
    array([[2, 0, 0],
           [0, 0, 1],
           [1, 0, 2]])

    In the binary case, we can extract true positives, etc as follows:

    >>> tn, fp, fn, tp = confusion_matrix([0, 1, 0, 1], [1, 1, 1, 0]).ravel()
    >>> (tn, fp, fn, tp)
    (0, 2, 1, 1)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X_train = scaler.fit_transform(X_train)

In [ ]:
X_test = scaler.transform(X_test)

In [ ]:
X_train

In [ ]:
len(x.columns)

8

In [ ]:
x.shape

(891, 8)

In [ ]:
model = Sequential()
model.add(Dense(8,kernel_initializer="uniform",input_dim = x.shape[1] ,activation="relu"))
model.add(Dense(36,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

In [ ]:
import tensorflow as tf

In [ ]:
model.compile(loss="binary_crossentropy",optimizer="adam",metrics = ['accuracy'])

In [ ]:
import numpy as np

In [ ]:
tf.test.is_gpu_available(
    cuda_only=False, min_cuda_compute_capability=None
)

True

In [ ]:
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [ ]:
model.fit(X_train,Y_train,epochs=150,batch_size=32)

Epoch 1/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6932 - accuracy: 0.5853
Epoch 2/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6932 - accuracy: 0.5090
Epoch 3/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6932 - accuracy: 0.5135
Epoch 4/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 5/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5105
Epoch 6/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4566
Epoch 7/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4281
Epoch 8/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4805
Epoch 9/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4955
Epoch 10/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4850
Epoch 11/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150
Epoch 12/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5015
Epoch 13/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5075
Epoch 14/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4701
Epoch 15/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5165
Epoch 16/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4775
Epoch 17/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5359
Epoch 18/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 19/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4850
Epoch 20/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4790
Epoch 21/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 22/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4880
Epoch 23/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 24/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5359
Epoch 25/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 26/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 27/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5329
Epoch 28/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 29/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 30/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4820
Epoch 31/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4880
Epoch 32/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 33/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5240
Epoch 34/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4820
Epoch 35/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4731
Epoch 36/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5329
Epoch 37/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4731
Epoch 38/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4731
Epoch 39/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5180
Epoch 40/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 41/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5210
Epoch 42/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4701
Epoch 43/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150
Epoch 44/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5210
Epoch 45/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 46/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4880
Epoch 47/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 48/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 49/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 50/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5120
Epoch 51/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5060
Epoch 52/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5329
Epoch 53/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4880
Epoch 54/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 55/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5269
Epoch 56/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4551
Epoch 57/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5299
Epoch 58/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5240
Epoch 59/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150
Epoch 60/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 61/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 62/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5180
Epoch 63/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4940
Epoch 64/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4701
Epoch 65/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 66/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5180
Epoch 67/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5299
Epoch 68/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4880
Epoch 69/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4940
Epoch 70/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 71/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 72/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4820
Epoch 73/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5120
Epoch 74/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 75/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 76/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 77/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4820
Epoch 78/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 79/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 80/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5060
Epoch 81/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4940
Epoch 82/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 83/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150
Epoch 84/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4940
Epoch 85/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 86/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 87/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5180
Epoch 88/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4671
Epoch 89/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4850
Epoch 90/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5060
Epoch 91/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5389
Epoch 92/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4641
Epoch 93/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4850
Epoch 94/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 95/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 96/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5180
Epoch 97/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5269
Epoch 98/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4790
Epoch 99/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5120
Epoch 100/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4880
Epoch 101/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5240
Epoch 102/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 103/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5210
Epoch 104/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4760
Epoch 105/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150
Epoch 106/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 107/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 108/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 109/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5389
Epoch 110/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5479
Epoch 111/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 112/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4940
Epoch 113/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5299
Epoch 114/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4850
Epoch 115/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5120
Epoch 116/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 117/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4731
Epoch 118/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4820
Epoch 119/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4701
Epoch 120/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 121/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5210
Epoch 122/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 123/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5180
Epoch 124/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4790
Epoch 125/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150
Epoch 126/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4701
Epoch 127/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 128/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5180
Epoch 129/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5000
Epoch 130/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4701
Epoch 131/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 132/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4641
Epoch 133/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5240
Epoch 134/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5060
Epoch 135/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5120
Epoch 136/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4850
Epoch 137/150
21/21 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4910
Epoch 138/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4641
Epoch 139/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5120
Epoch 140/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5090
Epoch 141/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 142/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4491
Epoch 143/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150
Epoch 144/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4521
Epoch 145/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4850
Epoch 146/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 147/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4641
Epoch 148/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4491
Epoch 149/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4731
Epoch 150/150
21/21 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5150

In [ ]:
pred = np.round(model.predict(X_test))

In [ ]:
pred

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(Y_test,pred)

ValueError: ignored